body{
    background-color: rgb(34, 29, 29)                                                                         ;
}

nav > a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

nav > a:hover{
    color: red;
}

p{
    color: aliceblue;
    font-weight: bold;
    font-size: 18pt;
    text-align:center;

}
.imgCharmander{
    text-align: center;
}

.p0{
    font-size: 32pt;
    color: rgb(248, 197, 28);
    font-weight: bold;
    text-shadow: 2px 2px red;
}


.imgPidgeot{
    text-align: center;
    margin: auto;
   
}

.p1{
    font-size: 32pt;
    color: rgb(248, 197, 28);
    font-weight: bold;
    text-shadow: 2px 2px red;   
}


.imgRattata{
    text-align: center;
    margin: auto;
   
}

footer > p{
    background-color: azure;
    color: rgb(10, 10, 10);
    height: 60px;
    padding: 20px;
}




@media only screen and (max-width: 435px){
  

nav{
    width: 100%;
}    

    
nav > a{
    text-decoration: none;
    color: white;
    padding: 7px;
    font-size: 10pt;
    
}


nav > a:hover{
    color: red;
}

  
    p{
        color: aliceblue;
        font-weight: bold;
        font-size: 12pt;
        text-align:center;
    
    }

    .imgCharmander{
        text-align: center;
        margin: auto;
        margin-right: 5px;
       
    }

    .p0{
        font-size: 32pt;
        color: rgb(248, 197, 28);
        font-weight: bold;
        text-shadow: 2px 2px red;
    }


    .imgPidgeot{
        text-align: center;
        margin: auto;
       
    }

    .p1{
        font-size: 32pt;
        color: rgb(248, 197, 28);
        font-weight: bold;
        text-shadow: 2px 2px red;   
    }

    .imgRattata{
        text-align: center;
        margin: auto;
       
    }

    .p2{
        font-size: 32pt;
        color: rgb(248, 197, 28);
        font-weight: bold;
        text-shadow: 2px 2px red;   
    }
    
    
    
}